* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", serif;
	font-optical-sizing: auto;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
	font-size: 100%;
}

.box {
	background-color: #806acf44;
	width: 60%;
	height: 50%;
	display: flex;
	border-radius: 8px;
}
.txt {
	color: hsl(271, 76%, 53%);
}
.titre {
	font-size: 1.15em;
}

.boxc {
	display: flex;
	flex-direction: column;
	padding: 50px;
	width: 50%;
}

.paragraphe {
	margin-top: 50px;
	color: rgb(167, 165, 165);
	font-weight: 300;
}

.box1 {
	display: flex;
	flex-direction: row;
	margin-top: 80px;
	font-size: 1.25em;
	font-weight: bolder;
	gap: 50px;
	justify-content: center;
}

.box2 {
	width: 1%;
	height: 10%;
}

.img {
	background: center/cover url(/image1.png);
	filter: saturate(2);
	width: 150%;
	border-radius: 8px, 0px, 8px, 0px;
}

.box1-1 {
	color: gray;
	font-family: "Lexend Deca", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
}

@media screen and (max-width: 700px) {
	.box {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		height: 100%;
		width: 100%;
	}

	.titre {
		font-size: 125%;
	}

	.boxc {
		align-items: center;
		text-align: center;
		width: 100%;
	}

	.paragraphe {
		font-size: 150%;
	}

	.box1 {
		flex-direction: column;
		font-size: 200%;
	}

	.box1-1 {
		display: flex;
		flex-direction: column;
		font-weight: 300;
	}

	.image {
		width: 100%;
		height: 100%;
	}

	.img {
		width: 100%;
		height: 100%;
	}
}
